<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于本站</title>
</head>

<body>
    <h1>关于本站:</h1>
    <h2>技术栈:</h2>
    <p>前端三件套(HTML,JavaScript,CSS)、<a href="https://www.djangoproject.com/">Django</a> 、<a href="https://www.mysql.com/">Mysql</a> 、<a href="https://jquery.com/">jQuery</a></p>
    <h2>部分CSS样式:</h2>
    <p>来自<a href="https://v3.bootcss.com/">Bootstrap</a></p>
    <h2>部分字体图标:</h2>
    <p>来自<a href="https://www.glyphicons.com/">Glyphicons</a></p>
	<h2>服务器:</h2>
	<p><a href="https://cloud.tencent.com/">腾讯云</a></p>
</body>

</html>